<div>
     <div class="col-md-12">
          <form ng-submit='controller.addBlog(controller.form)'>
               <div class="row">
                    <input type="text" name="" value="" ng-model="controller.form.title" placeholder="title">
               </div>
               <div class="row">
                    <textarea name="" ng-model="controller.form.description">write a story...</textarea>
               </div>
               <button type="submit">write now</button>
          </form>
     </div>
</div>
