{{blog.title}}
{{blog.description}}

<!-- <div ng-repeat="photo in controller.returnedPhotos track by $index" class="col-md-3">
     <div class="photoStream">
          <img src="{{photo.url}}" alt="getPhotos" ui-sref="details({id:photo._id})">
          <h4>{{photo.title}}</a></h4>
          <h6>{{photo.details}}</h6>
          <p class="like">{{photo.likes}}</p>
          <div class="heart"><i class="fa fa-heart" aria-hidden="true" ng-dblclick=controller.onDoubleClickLike(photo._id,photo)></i></div>
     </div>
</div>
 -->